*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.title{
    width: 14rem;
}

.crea{
    color: white;
}

form{
    background-color: white;
    border: 1px solid white;
    border-radius: 1.2rem;
    padding: 2em 1em;
} 

footer{
    color: rgba(0, 0, 0, 0.5);
}


body {
    background-color: #1D9C9E;
    color: white;
    text-align: center;
}
.header {
    font-size: 2rem;
    margin: 20px 0;
    font-weight:600;
}
.icon {
    font-size: 2.5rem;
    color: white;
}
.btn-section {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 120ms ease-in-out;
}
.btn-green {
    background-color: #5BBE46;
}
.btn-blue {
    background-color: #4FC3F7;
}
.btn-yellow {
    background-color: #FFC107;
    color: black;
}
.btn-white {
    background-color: #FFFFFF;
    color: black;
}

.btn-green:hover {
    background-color: #57ad46;
}
.btn-blue:hover {
    background-color: #409eca;
}
.btn-yellow:hover {
    background-color: #e0a902;
    color: black;
}
.btn-white:hover {
    background-color: #bbbbbb;
    color: black;
}

.btn-section:hover{
    transform: scale(1.05);
}

    footer {
            top: 25vh;
            position:relative;
    }



@media (max-height: 720px) {
    footer {
        margin-top: 0;
        position: relative;
        bottom: 0;
    }
}

.entrar{
    color: white;
    text-decoration: none;
}

.entrar:hover{
    color: white;
    text-decoration: none;
}

.empleado{
    height: 8rem;
    border-radius: 12px;
    background-color: #0E4B4B;
}
@media (max-width: 470px) {
    .empleado{
        background-color: #0E4B4B;
        height: auto;
        margin: 0 .5rem;
    }
}

.form-empleado{
    padding: .5rem .8rem;
    height:auto;
    border-radius: 12px;
    background-color: #0E4B4B;
}
















